/* src/renderer/src/assets/main.css */
body,
html,
#root {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  background-color: transparent !important; /* 背景透明を強制 */
  overflow: hidden; /* スクロールバーを出さない */
}
